node_modules
.env

#Hardhat files
cache
typechain
typechain-types
artifacts

.history
.vscode
Kyoto.sol.zip
.eslintignore
.eslintrc.js
.env.template
.prettierignore
.prettierrc
.solhintignore
.solhint.json
